.main-auth{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    text-align: center;
}

.main-auth__info{
    align-self: start;
    grid-column: 1/2;

    margin-top: 3em;

    h1{
        font-family: 'Merienda';
        font-size: 7em;
    }

    h2{
        font-family: 'Lobster Two';
        font-size: 3em;
        margin-bottom: 2em;
    }
    
    form{
        text-align: left;
        

        label{
            font-size: 1.2em;
            color:black;
            margin: 1.5em 0 .5em 0;
        }

        input[type=submit]{
            font-size: 1.2em;
            padding: .75em 1.5em;
            margin-left: 2em;
        }
    }
}

.main-auth__imagen{
    grid-column: 2/3;
    height: 100%;
    overflow: hidden;

    img{
        object-fit: cover;
    }
}