@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@import './reset';
@import 'layouts';
@import 'typography';
@import 'componentes';


.tabs__boton{
    @apply bg-gray-300 hover:bg-gray-400 active:bg-blue-400 text-gray-800 font-bold py-2 px-4 flex flex-row-reverse;
    gap: 10px;
}

.tabs__boton--activo{
    @apply bg-blue-400 text-gray-800 font-bold py-2 px-4 flex flex-row-reverse;
    gap: 10px;
}

.invisible{
    display: none !important;
}

.seccion{
    @apply bg-gray-300 rounded-xl;
}

.form-ingrediente{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    & &__detalles{
        width: 40%;
        margin: 0;
        padding: .5em;

        h2{
            font-weight: bold;
            width: 100%;
            margin-bottom: 1em;
        }
    }

    & &__info{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        column-gap: 5em;
        width: 50%;
        padding: .5em;

        h2{
            font-weight: bold;
            width: 100%;
            margin-bottom: 1em;
        }

        &--col1{
            width: 50%;
        }

        &--col2{
            width: 50%;
        }

    }
}